In [5]:
#Patrick Whelan C17478104
import pandas as pd
import numpy as np
import warnings
##import 
dataset = pd.read_csv('data/dataset.csv' ,na_values =' ?',header = None)
dataset

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,tr1,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,tr2,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,tr3,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,tr4,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,tr5,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,tr6,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,tr7,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,tr8,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,tr9,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,tr10,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,tr11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
11,tr12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
12,tr13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
13,tr14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K
14,tr15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
15,tr16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
16,tr17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
17,tr18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18,tr19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
19,tr20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
20,tr21,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
21,tr22,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
22,tr23,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
23,tr24,54,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
24,tr25,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
25,tr26,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
26,tr27,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
27,tr28,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
28,tr29,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
29,tr30,30,Federal-gov,59951,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30910,tr30911,30,NaN,33811,Bachelors,13,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
30911,tr30912,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
30912,tr30913,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
30913,tr30914,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
30914,tr30915,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
30915,tr30916,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
30916,tr30917,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
30917,tr30918,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
30918,tr30919,71,NaN,287372,Doctorate,16,Married-civ-spouse,NaN,Husband,White,Male,0,0,10,United-States,>50K
30919,tr30920,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
30920,tr30921,41,NaN,202822,HS-grad,9,Separated,NaN,Not-in-family,Black,Female,0,0,32,United-States,<=50K
30921,tr30922,72,NaN,129912,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,25,United-States,<=50K
30922,tr30923,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
30923,tr30924,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
30924,tr30925,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
30925,tr30926,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
30926,tr30927,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
30927,tr30928,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
30928,tr30929,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
30929,tr30930,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
30930,tr30931,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
30931,tr30932,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
30932,tr30933,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
30933,tr30934,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
30934,tr30935,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
30935,tr30936,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30936,tr30937,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30937,tr30938,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30938,tr30939,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30939,tr30940,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
feature_names=open("data/feature_names.txt","r")
feature_names_list=feature_names.read().split('\n')
dataset.columns=feature_names_list
# alternatively hard code == dataset.columns =['id','age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','target']

In [3]:
 len(dataset. columns)

16

In [4]:
dataset['workclass'].describe()
#see if it is categorical or continuous

count        29205
unique           8
top        Private
freq         21576
Name: workclass, dtype: object

In [5]:
dataset['fnlwgt'].describe()
#see if it is categorical or continuous

count    3.094000e+04
mean     1.897864e+05
std      1.054064e+05
min      1.228500e+04
25%      1.178490e+05
50%      1.783840e+05
75%      2.373180e+05
max      1.484705e+06
Name: fnlwgt, dtype: float64

In [6]:
dataset['education'].describe()
#see if it is categorical or continuous

count        30940
unique          16
top        HS-grad
freq          9976
Name: education, dtype: object

In [7]:
dataset['education-num'].describe()
#see if it is categorical or continuous

count    30940.000000
mean        10.081254
std          2.569967
min          1.000000
25%          9.000000
50%         10.000000
75%         12.000000
max         16.000000
Name: education-num, dtype: float64

In [8]:
dataset['relationship'].describe()
#see if it is categorical or continuous

count        30940
unique           6
top        Husband
freq         12496
Name: relationship, dtype: object

In [9]:
dataset['sex'].describe()
#see if it is categorical or continuous

count     30940
unique        2
top        Male
freq      20705
Name: sex, dtype: object

In [10]:
dataset['hours-per-week'].describe()
#see if it is categorical or continuous

count    30940.000000
mean        40.408920
std         12.336945
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours-per-week, dtype: float64

In [11]:
dataset['target'].describe()
#see if it is categorical or continuous

count      30940
unique         2
top        <=50K
freq       23506
Name: target, dtype: object

In [12]:
dataset['native-country'].describe()
#see if it is categorical or continuous

count              30386
unique                41
top        United-States
freq               27719
Name: native-country, dtype: object

In [13]:
##Splitting into continuous and categorical features    
conFeat = ['age', 'fnlwgt', 'capital-gain', 'capital-loss', 'hours-per-week']
catFeat = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'target']

In [14]:
##creating headers for my output csv files
outHead1 = ['Count', 'Miss %', 'Card.', 'Min', '1st Qrt.', 'Mean', 'Median', '3rd Qrt', 'Max', 'Std. Dev.']
outHead2 = ['Count', 'Miss %', 'Card.', 'Mode', 'Mode Freq', 'Mode %', '2nd Mode', '2nd Mode Freq', '2nd Mode %']

In [15]:
##getting ready to export my continous features
conOut=pd.DataFrame(index=conFeat, columns=outHead1)
columns = dataset[conFeat]
conOut.index.name = 'FEATURENAME'

In [16]:
## Setting up correct header names

#count

count = columns.count()
conOut[outHead1[0]]=count

#missing percentage is always 0

conOut[outHead1[1]]= 0.00

#cardinality
conOut[outHead1[2]]= columns.nunique()

conOut[outHead1[3]]= columns.min()

#first quartile
conOut[outHead1[4]]= columns.quantile(0.25)

conOut[outHead1[5]]= columns.mean()

conOut[outHead1[6]]= columns.median()

#third quartile
conOut[outHead1[7]]= columns.quantile(0.75)

conOut[outHead1[8]]= columns.max()

conOut[outHead1[9]]= columns.std()

In [17]:
##getting ready to export categorical 
catOut=pd.DataFrame(index=catFeat, columns=outHead2)
columns = dataset[catFeat]
catOut.index.name = 'FEATURENAME'

In [18]:
## finding mode, mode freq , mode % 2nd mode 2nd mode freq and 2nd mode %
dataset['workclass'].value_counts()

##creating arrays
mode_array = ['']*len(catFeat)
mode2_array=['']*len(catFeat)

mode_freq_array=['']*len(catFeat)
mode2_freq_array=['']*len(catFeat)

mode_freq_array_prcnt=['']*len(catFeat)
mode2_freq_array_prcnt=['']*len(catFeat)


for col in columns:
        values = columns[col].value_counts()
        index = catFeat.index(col)
        
        ##mode is the first value of the list of value counts
        mode=values.index[0]
        
        ##2nd mode is 2nd value
        mode2=values.index[1]
        
        ##entering modes into array
        mode_array[index]=mode
        mode2_array[index]=mode2
        
        ##mode frequencies
        modeCount = values.loc[mode]
        mode2Count =values.loc[mode2]
        
        mode_freq_array[index] = modeCount
        mode2_freq_array[index] = mode2Count
        
        ##mode frequency percentage = mode frequency/count*100
        ##count is always 30940
        
        ##Since all mode counts are above 0 no need for error checking
        mode_freq_array_prcnt[index]= (modeCount/30940)*100
        mode2_freq_array_prcnt[index]= (mode2Count/30940)*100

In [19]:
##find missing percentage
prcnt_miss=['']*len(catFeat)

missing = columns.isna()
prcnt_num_missing=missing.sum()
prcnt_num_missing=prcnt_num_missing/ len(dataset)
prcnt_num_missing*100

workclass         5.607628
education         0.000000
marital-status    0.000000
occupation        5.630252
relationship      0.000000
race              0.000000
sex               0.000000
native-country    1.790562
target            0.000000
dtype: float64

In [20]:
##enter missing percent
prcnt_miss[0]=5.6
prcnt_miss[1]=0
prcnt_miss[2]=0
prcnt_miss[3]=5.6
prcnt_miss[4]=0
prcnt_miss[5]=0
prcnt_miss[6]=0
prcnt_miss[7]=1.8
prcnt_miss[8]=0

In [21]:

##count is always 30940
catOut[outHead2[0]] = 30940

catOut[outHead2[1]] = prcnt_miss

catOut[outHead2[2]] = columns.nunique()

catOut[outHead2[3]] = mode_array

catOut[outHead2[4]] = mode_freq_array

catOut[outHead2[5]] = mode_freq_array_prcnt

catOut[outHead2[6]] = mode2_array

catOut[outHead2[7]] = mode2_freq_array

catOut[outHead2[8]] = mode2_freq_array_prcnt

In [22]:
###Exporting to csv

conOut.to_csv("./data/C17478104CONT.csv")
catOut.to_csv("./data/C17478104CAT.csv")